body{
    padding: 0%;
    margin: auto;
    background-color: black;
    color: white;
}

.centertext{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}

.Text1{
    font-size: 130%;
    font-family: 'Courier New', Courier, monospace;
}

.text2{
    font-size: 100%;
    font-family:'Courier New', Courier, monospace;
}

.text3{
    font-size: 100%;
    font-family:'Courier New', Courier, monospace;
}

.text4{
    font-size: 100%;
    font-family:'Courier New', Courier, monospace;
}
